[submodule "frontend"]
	path = frontend
	url = https://github.com/6ill/speech-to-text-translation-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/6ill/api-speech-text-translation-crowdsourcing-app
